@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600;700&display=swap");
@import "./scss/fonts";
@import "./scss/null";
@import "./scss/container";

// FONTS
$mainFont: "Roboto Condensed", sans-serif;
$georgiaFont: "Georgia", sans-serif;
$tildaSansFont: "TildaSans", sans-serif;

// COLORS
$mainColor: #fff;
$blackColor: #000;
$grayColor: #808080;
$mainBlueColor: #25acfa;
$secondaryBlueColor: #005b94;
$blueHoverColor: #42fc26;
$logoColor: #054d9a;

// Media
$pcMedia: 1124px;
$laptopMedia: 991px;
$tabletMedia: 768px;
$mobileMedia: 425px;

body {
	font-family: $mainFont;
	color: $mainColor;
	font-size: 14px;
	font-weight: 600;
}

html {
	&.overflow {
		overflow: hidden;
	}
}

.hover__border-bottom {
	position: relative;
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background-color: $mainColor;
		opacity: 0;
		position: absolute;
		bottom: 5px;
		left: 0;
		transition:
			opacity 0.3s ease,
			bottom 0.3s ease;
	}

	&:hover {
		&::after {
			content: "";
			opacity: 1;
			bottom: -2px;
		}
	}
}

.logo {
	// .logo__wrapper
	&__wrapper {
		width: 200px;
		margin: 0 auto;

		color: $logoColor;

		@media (max-width: $pcMedia) {
			margin: 0;
		}
	}

	// .logo__top
	&__top {
		display: flex;
		align-items: center;
		gap: 5px;
		text-align: center;
		@media (max-width: $pcMedia) {
			text-align: left;
		}
		img {
			width: 50px;
			height: 50px;
		}
	}
	// .logo__text
	&__text {
	}
	// .logo__title
	&__title {
		font-size: 22px;
	}
	// .logo__subtitle
	&__subtitle {
		font-size: 14px;
	}
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	transition: background-color 0.3s ease 0s;

	&.bg {
		background-color: rgba($color: $mainBlueColor, $alpha: 0.5);
	}

	@media (max-width: $tabletMedia) {
		// position: static;
		background-color: #fff;
		transition: none;
		border-bottom: 2px solid $secondaryBlueColor;
	}

	// .header__container
	&__container {
	}
	// .header__wrapper
	&__wrapper {
		// display: flex;
		// justify-content: space-between;
		// gap: 20px;
		display: grid;
		grid-template-columns: repeat(3, 33.33333%);
		align-items: center;

		padding: 12px 0;

		@media (max-width: $pcMedia) {
			grid-template-columns: auto 1fr auto;
			gap: 15px;
		}
		@media (max-width: $tabletMedia) {
			padding: 5px 0;

			grid-template-columns: auto 1fr;
		}
	}
	// .header__nav
	&__nav {
		// flex: 0 0 33.33333%;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		@media (max-width: $pcMedia) {
			// flex-direction: column;
			gap: 20px;
			padding: 10px 0;
			justify-content: space-around;
			// margin-bottom: 50px;
		}
		@media (max-width: $tabletMedia) {
			flex-direction: column;
			margin-bottom: 50px;
		}
	}
	// .header__button
	&__button {
		font-size: 20px;

		@media (max-width: $tabletMedia) {
			padding: 5px 0;

			&.hover__border-bottom {
				&::after {
					content: "";
					background-color: rgba($color: $mainColor, $alpha: 0.2);
					height: 1px;
					opacity: 1;
					bottom: -2px;
				}
			}
		}
	}
	// .header__logo
	&__logo {
		// flex: 0 0 33.33333%;
	}

	// .header__right
	&__right {
		// flex: 0 0 33.33333%;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		@media (max-width: $pcMedia) {
			justify-content: flex-end;
		}
		@media (max-width: $tabletMedia) {
			flex-wrap: wrap;
		}
	}

	// .header__phone
	&__phone {
		font-size: 20px;
		color: inherit;
	}
	// .header__socials
	&__socials {
		display: flex;
		gap: 10px;
		@media (max-width: $tabletMedia) {
			flex: 1 0 auto;
			justify-content: center;
		}

		@media (max-width: 624px) {
			justify-content: flex-end;
		}
	}
	// .header__icon
	&__icon {
		width: 25px;
		height: 25px;

		path {
			transition: fill 0.3s ease 0s;
		}
		@media (max-width: $tabletMedia) {
			width: 40px;
			height: 40px;
		}
		@media (min-width: $tabletMedia) {
			&:hover {
				path {
					fill: $mainBlueColor;
				}
			}
		}
	}
	// .header__link
	&__link {
		font-size: 14px;
		color: $mainBlueColor;
		padding: 13px 32px;
		background-color: $mainColor;
		border-radius: 5px;
		transition:
			color 0.3s linear 0s,
			background-color 0.3s linear 0s;

		@media (min-width: $tabletMedia) {
			&:hover {
				background-color: $mainBlueColor;
				color: $mainColor;
			}
		}

		@media (max-width: 624px) {
			flex: 1 1 100%;
			text-align: center;
		}
	}
	// .header__burger
	&__burger {
		display: none;
		height: 20px;
		width: 28px;

		overflow: hidden;

		position: relative;

		@media (max-width: $pcMedia) {
			display: block;
		}
		@media (max-width: $tabletMedia) {
			justify-self: flex-end;
		}

		span,
		&:before,
		&:after {
			content: "";
			display: block;
			height: 3px;
			width: 100%;
			background-color: #fff;

			transition: all 0.3s linear;

			position: absolute;
			left: 0;

			@media (max-width: $tabletMedia) {
				background-color: #547588;
			}
		}

		&:before {
			top: 0;
		}

		span {
			top: 50%;
			transform: translateY(-50%);
		}

		&:after {
			bottom: 0;
		}

		&.active {
			&:before {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}

			span {
				left: 100%;
			}

			&:after {
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
}

.popup {
	width: 100%;
	// height: 100vh;

	background-color: $mainBlueColor;
	position: absolute;
	left: -100%;
	z-index: 10;
	transition: left 0.3s ease 0s;

	// border-top-right-radius: 20px;
	// border-bottom-right-radius: 20px;

	// padding: 10px;

	&.active {
		left: 0;
		@media (max-width: $tabletMedia) {
			height: 100vh;
		}
	}

	@media (max-width: $tabletMedia) {
		height: 100vh;
	}
	@media (max-width: $mobileMedia) {
		width: 100%;
	}

	// .popup__container
	&__container {
	}
	// .popup__wrapper
	&__wrapper {
		@media (max-width: $tabletMedia) {
			display: flex;
			flex-direction: column;
			// height: 100vh;
		}
	}
}

.reserve {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	// height: 100vh;
	background-color: rgba($color: $blackColor, $alpha: 0.4);

	justify-content: center;
	align-items: center;

	height: 100vh;

	display: none;
	&.active {
		display: flex;
	}

	// .reserve__close
	&__close {
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		path {
			fill: $mainColor;
			@media (max-width: $tabletMedia) {
				fill: $blackColor;
			}
		}
	}
	// .reserve__popup
	&__popup {
		width: 760px;
		background-color: $mainColor;
		padding: 45px 40px;
		max-height: 100vh;
		overflow: auto;
		// padding: 0 10px 0 5px;
		@media (max-width: $tabletMedia) {
			height: 100vh;
			width: 100%;
		}
	}
	// .reserve__form
	&__form {
		color: $blackColor;
		&-1 .reserve__wrapper-1 {
			display: block;
		}
		&-2 .reserve__wrapper-2 {
			display: block;
		}
		&-3 .reserve__wrapper-3 {
			display: block;
		}
		&-4 .reserve__wrapper-4 {
			display: block;
		}
		&-5 .reserve__wrapper-5 {
			display: block;
		}
	}
	// .reserve__wrapper
	&__wrapper {
		display: none;
	}

	// .reserve__text
	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 25px;
		text-align: center;
		margin-bottom: 30px;
	}
	// .reserve__title
	&__title {
		font-weight: 300;
		font-size: 24px;
		line-height: 37px;
	}
	// .reserve__subtitle
	&__subtitle {
		font-weight: 300;
		font-size: 18px;
		line-height: 28px;
		color: $grayColor;
		margin-bottom: 5px;
	}
	// .reserve__screen
	&__screen {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	// .reserve__item
	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	// .reserve__radio-custom
	&__radio-custom {
		display: none;
	}
	// .reserve__label
	&__label {
		display: inline-flex;
		gap: 10px;
		font-family: $tildaSansFont;
		font-weight: 300;
		font-size: 19px;
		position: relative;
		cursor: pointer;
		&::before {
			content: "";
			// align-self: flex-start;
			display: inline-block;
			width: 19px;
			height: 19px;
			border: 1px solid $mainBlueColor;
			border-radius: 50%;
		}

		&.checkbox {
			&::before {
				content: "";
				border-radius: 0px;
			}
		}
	}
	&__radio-custom:checked + &__label::after {
		content: "";
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: $mainBlueColor;

		position: absolute;
		top: 4px;
		left: 4px;
	}

	// .reserve__bottom
	&__bottom {
		padding-top: 15px;

		display: grid;
		grid-template-columns: minmax(130px, auto) 1fr auto;
		align-items: center;
		@media (max-width: 500px) {
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			gap: 10px;
		}
	}
	// .reserve__pagination
	&__pagination {
		grid-column: 2 / 3;
		// flex: 1 1 auto;
		text-align: center;
		color: $grayColor;
		opacity: 0.6;
		font-size: 12px;
		@media (max-width: 500px) {
			grid-row: 2/3;
			grid-column: 1 / 3;
		}
	}
	// .reserve__button
	&__button {
		border-radius: 5px;
		background-color: $mainBlueColor;
		color: $mainColor;

		padding: 15px 37px;

		@media (max-width: 500px) {
			padding: 12px 20px;
		}

		&:hover {
			outline: 1px solid $mainBlueColor;
			background-color: transparent;
			color: $mainBlueColor;
		}

		&-prev {
			grid-column: 1 / 2;
		}
		&-next {
			grid-column: 3 / 4;
			@media (max-width: 500px) {
				grid-column: 2 / 3;
			}
		}
	}

	// .reserve__inner
	&__inner {
		display: flex;
		align-items: center;
		gap: 10px;

		&.column {
			flex-direction: column;
			align-items: start;
			gap: 5px;
		}
	}
	// .reserve__inner-minus
	&__inner-minus {
		height: 20px;
		cursor: pointer;
		&::after {
			content: "";
			display: block;
			width: 20px;
			height: 2px;
			background-color: $mainBlueColor;
			font-size: 16px;
		}
	}
	// .reserve__inner-input
	&__inner-input {
		font-size: 14px;
		border-bottom: 1px solid rgba($color: $grayColor, $alpha: 0.6);
		text-align: center;
		padding-bottom: 10px;
		width: 40px;
	}
	// .reserve__inner-plus
	&__inner-plus {
		height: 20px;
		cursor: pointer;
		&::after {
			content: "";
			display: block;
			width: 20px;
			height: 2px;
			background-color: $mainBlueColor;
		}
		&::before {
			content: "";
			display: block;
			width: 20px;
			height: 2px;
			background-color: $mainBlueColor;
			transform: rotate(-90deg) translate(-2px, 0px);
		}
	}

	// .reserve__input
	&__input {
		width: 100%;
		border-bottom: 1px solid rgba($color: $grayColor, $alpha: 0.5);
		padding-bottom: 10px;
	}
	// .reserve__input-phone
	&__input-phone {
	}
	// .reserve__input-name
	&__input-name {
		text-transform: capitalize;
	}
	// .reserve__input-date
	&__input-date {
		width: 187px;
		&::-webkit-calendar-picker-indicator {
			width: 20px;
			height: 20px;
		}
	}

	// .reserve__input-promo
	&__input-promo {
	}

	&__texting {
		padding: 10px;
		background-color: #62c584;
		font-weight: 300;
		font-family: $tildaSansFont;
		font-size: 24px;
		line-height: 37px;
		text-align: center;
		color: $mainColor;
	}
}

.intro {
	background:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
		url("../img/intro/bg.jpg") center / cover no-repeat;
	width: 100%;
	min-height: 100vh;

	// .intro__container
	&__container {
	}
	// .intro__wrapper
	&__wrapper {
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		padding: 140px 0 60px;
		@media (max-width: $tabletMedia) {
			max-width: 600px;
			padding: 100px 0;
		}
		@media (max-width: $mobileMedia) {
			padding: 80px 0;
		}
	}
	// .intro__title
	&__title {
		font-size: 52px;
		text-transform: uppercase;
		line-height: 56px;
		font-weight: 700;
		margin-bottom: 50px;
		@media (max-width: $tabletMedia) {
			font-size: 40px;
		}
		@media (max-width: 580px) {
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 30px;
		}
		@media (max-width: $mobileMedia) {
			font-size: 26px;
		}
	}
	// .intro__subtitle
	&__subtitle {
		font-size: 40px;
		line-height: 1.3;
		font-weight: 300;
		margin-bottom: 60px;
		@media (max-width: $tabletMedia) {
			font-size: 28px;
		}
		@media (max-width: 580px) {
			font-size: 18px;
			margin-bottom: 30px;
		}
	}
	// .intro__button
	&__button {
		font-size: 14px;
		text-transform: uppercase;

		display: inline-block;
		border-radius: 5px;
		padding: 18px 35px;
		background-color: $mainBlueColor;
		cursor: pointer;

		transition: background-color 0.3s linear;

		&:hover {
			background-color: $blueHoverColor;
		}

		@media (max-width: $mobileMedia) {
			padding: 15px 20px;
		}
	}
}

.ticker {
	background-color: $blackColor;
	display: flex;
	overflow-x: hidden;

	// gap: 10px;
	&__title {
		font-family: "TildaSans";
		font-weight: 300;
		font-size: 24px;
		line-height: 37px;
		white-space: nowrap;

		display: flex;
		align-items: center;
		transition: transform 3s ease 0s;
		animation: ticker 15s linear infinite; /* Измените продолжительность и параметры анимации по вашему усмотрению */
		// transform: translateX(0px);

		&:not(:last-child) {
			&::after {
				content: "";
				display: block;
				width: 5px;
				height: 5px;
				background-color: $mainColor;
				border-radius: 50%;
				margin: 0 10px;
			}
		}

		@media (max-width: $mobileMedia) {
			font-size: 20px;
			line-height: 30px;
		}
	}
}
@keyframes ticker {
	0% {
		transform: translateX(0); /* Начальное положение сдвига на 100% ширины элемента */
	}
	100% {
		transform: translateX(-80%); /* Конечное положение сдвига на -100% ширины элемента */
	}
}

.gallery {
	padding: 30px 0 60px;
	// .gallery__container
	&__container {
	}
	// .gallery__top
	&__top {
		max-width: 760px;
		margin: 0 auto;
		text-align: center;
	}
	// .gallery__icon
	&__icon {
		margin-bottom: 50px;
		svg {
			width: 120px;
			height: 15px;
		}
	}
	// .gallery__text
	&__text {
		font-family: "TildaSans";
		font-size: 38px;
		line-height: 57px;
		color: $blackColor;
		font-weight: 300;
		margin-bottom: 50px;
		@media (max-width: $tabletMedia) {
			line-height: 36px;
			font-size: 30px;
		}
		@media (max-width: 500px) {
			line-height: 24px;
			font-size: 20px;
		}
	}
	// .gallery__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		row-gap: 40px;
	}
	// .gallery__item
	&__item {
		flex: 1 1 30%;
		text-align: center;
		color: $blackColor;

		display: flex;
		flex-direction: column;

		@media (max-width: $laptopMedia) {
			flex: 1 1 40%;
		}
		@media (max-width: 600px) {
			flex: 1 1 100%;
		}
	}
	// .gallery__link
	&__link {
	}
	// .gallery__image
	&__image {
		max-width: 360px;
		height: 400px;
		margin: 0 auto;

		// transition: background 0.3s ease 0s;

		// &:hover {
		// 	transition: background 0.3s ease 0s;
		// }
		@media (max-width: $tabletMedia) {
			height: 350px;
		}

		&-01 {
			background: url("../img/gallery/01.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/01-hover.jpg") center / cover no-repeat;
			}
		}
		&-02 {
			background: url("../img/gallery/02.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/02-hover.jpg") center / cover no-repeat;
			}
		}
		&-03 {
			background: url("../img/gallery/03.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/03-hover.jpg") center / cover no-repeat;
			}
		}
		&-04 {
			background: url("../img/gallery/04.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/04-hover.jpg") center / cover no-repeat;
			}
		}
		&-05 {
			background: url("../img/gallery/05.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/05-hover.jpg") center / cover no-repeat;
			}
		}
		&-06 {
			background: url("../img/gallery/06.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/06-hover.jpg") center / cover no-repeat;
			}
		}
		&-07 {
			background: url("../img/gallery/07.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/07-hover.jpg") center / cover no-repeat;
			}
		}
		&-08 {
			background: url("../img/gallery/08.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/08-hover.jpg") center / cover no-repeat;
			}
		}
		&-09 {
			background: url("../img/gallery/09.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/09-hover.jpg") center / cover no-repeat;
			}
		}
		&-010 {
			background: url("../img/gallery/10.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/10-hover.jpg") center / cover no-repeat;
			}
		}
		&-011 {
			background: url("../img/gallery/11.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/11-hover.jpg") center / cover no-repeat;
			}
		}
		&-012 {
			background: url("../img/gallery/12.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/12-hover.jpg") center / cover no-repeat;
			}
		}
		&-013 {
			background: url("../img/gallery/13.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/13-hover.jpg") center / cover no-repeat;
			}
		}
		&-014 {
			background: url("../img/gallery/14.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/14-hover.jpg") center / cover no-repeat;
			}
		}
		&-015 {
			background: url("../img/gallery/15.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/15-hover.jpg") center / cover no-repeat;
			}
		}
		&-016 {
			background: url("../img/gallery/16.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/16-hover.jpg") center / cover no-repeat;
			}
		}
		&-017 {
			background: url("../img/gallery/17.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/17-hover.jpg") center / cover no-repeat;
			}
		}
		&-018 {
			background: url("../img/gallery/18.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/18-hover.jpg") center / cover no-repeat;
			}
		}
		&-019 {
			background: url("../img/gallery/19.jpg") center / cover no-repeat;
			&:hover {
				background: url("../img/gallery/19-hover.jpg") center / cover no-repeat;
			}
		}
	}
	// .gallery__title
	&__title {
		font-family: "Georgia";
		font-weight: 700;
		font-size: 20px;
		margin: 27px 0 15px;
	}
	// .gallery__subtitle
	&__subtitle {
		flex: 1;
		font-size: 17px;
		line-height: 1.5;
		font-weight: 300;
		margin-bottom: 20px;
	}
	// .gallery__price
	&__price {
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 20px;
		strike {
			color: $grayColor;
		}
	}
	// .gallery__button
	&__button {
		align-self: center;

		font-weight: 500;

		border-radius: 2px;
		background-color: $mainBlueColor;
		color: $mainColor;
		padding: 14px 32px;
		transition:
			background-color 0.3s ease 0s,
			border 0.3s ease 0s,
			color 0.3s ease 0s;

		&:hover {
			background-color: $mainColor;
			outline: 1px solid $mainBlueColor;
			color: $mainBlueColor;
		}
	}
}

.advantages {
	color: $blackColor;
	padding: 30px 0;

	// .advantages__container
	&__container {
	}
	// .advantages__text
	&__text {
		font-size: 42px;
		line-height: 1.2;
		text-align: center;
		font-weight: 600;
		margin-bottom: 40px;
		@media (max-width: $tabletMedia) {
			font-size: 32px;
			margin-bottom: 20px;
		}
		@media (max-width: $mobileMedia) {
			font-size: 26px;
		}
	}
	// .advantages__wrapper
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	// .advantages__item
	&__item {
		flex: 1 1 33.33333%;

		text-align: center;

		padding: 0 25px;

		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			border-right: 2px solid $grayColor;
		}

		@media (max-width: $laptopMedia) {
			&:not(:last-child) {
				border-right: none;
				border-bottom: 1px solid $grayColor;
			}

			padding: 25px;
			flex: 1 1 50%;
		}

		@media (max-width: $tabletMedia) {
			flex: 1 1 100%;
		}
	}
	// .advantages__suptitle
	&__suptitle {
		color: $grayColor;
		font-size: 20px;
		margin-bottom: 15px;
	}
	// .advantages__title
	&__title {
		font-size: 28px;
		margin-bottom: 15px;
		@media (max-width: $tabletMedia) {
			font-size: 20px;
		}
	}
	// .advantages__subtitle
	&__subtitle {
		font-size: 22px;
		line-height: 1.55;
		font-weight: 300;
		@media (max-width: $tabletMedia) {
			font-size: 16px;
		}
	}
}

.reviews {
	padding: 30px 0 100px;
	background-color: #f5f5f5;
	// .reviews__title
	&__title {
		font-weight: 600;
		color: $blackColor;
		font-size: 42px;
		line-height: 50px;
		text-align: center;
		margin-bottom: 100px;
		@media (max-width: $tabletMedia) {
			font-size: 36px;
			line-height: 36px;
			margin-bottom: 60px;
		}
		@media (max-width: $mobileMedia) {
			font-size: 26px;
			line-height: 26px;
			margin-bottom: 40px;
		}
	}
	// .reviews__slider
	&__slider {
	}
	// .reviews__wrapper
	&__wrapper {
		height: 750px;
		@media (max-width: 2000px) {
			height: 650px;
		}
		@media (max-width: 1800px) {
			height: 500px;
		}

		@media (max-width: 600px) {
			height: 400px;
		}
	}
	// .reviews__slide
	&__slide {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		transition: all 0.3s ease 0s;

		height: 100%;
		img {
			transition:
				height 0.3s ease 0s,
				opacity 0.3s ease 0s;
			max-width: 100%;
			height: 90%;
			opacity: 0.4;
			@media (max-width: $mobileMedia) {
				width: 100%;
			}
		}

		&.swiper-slide-active {
			img {
				height: 100%;
				opacity: 1;
			}
		}
	}
	// .reviews__button-prev
	&__button-prev {
		left: 20px;
		&.swiper-button-disabled {
			display: none;
		}
	}
	// .reviews__button-next
	&__button-next {
		right: 20px;
		&.swiper-button-disabled {
			display: none;
		}
	}
}

.contacts {
	padding: 30px 0;
	color: $blackColor;
	text-align: center;

	// .contacts__container
	&__container {
	}
	// .contacts__text
	&__text {
		font-size: 20px;
		line-height: 1.3;
		font-weight: 600;
		margin-bottom: 45px;
		@media (max-width: $mobileMedia) {
			margin-bottom: 30px;
		}
	}
	// .contacts__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;

		& > a {
			align-self: center;
			line-height: 1.2;
			color: inherit;
			position: relative;
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-color: $blackColor;
				opacity: 0;

				position: absolute;
				bottom: 5px;

				transition:
					opacity 0.3s ease 0s,
					bottom 0.3s ease 0s;
			}
			&:hover {
				&::after {
					opacity: 1;
					bottom: 0;
				}
			}
		}
	}
	// .contacts__address
	&__address {
		font-size: 26px;
		@media (max-width: $tabletMedia) {
			font-size: 18px;
		}
	}
	// .contacts__phone
	&__phone {
		font-size: 36px;
		@media (max-width: $tabletMedia) {
			font-size: 28px;
		}
	}
	// .contacts__mail
	&__mail {
		font-size: 22px;
	}
	// .contacts__icons
	&__icons {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
	// .contacts__link
	&__link {
		width: 65px;
		height: 65px;
		overflow: hidden;
		border-radius: 50%;
		background-color: $blackColor;
		transition: background-color 0.3s ease 0s;
		&:hover {
			background-color: rgba($color: $blackColor, $alpha: 0.8);
		}

		@media (max-width: $tabletMedia) {
			width: 45px;
			height: 45px;
		}
	}
	// .contacts__icon
	&__icon {
		padding: 12px;

		path {
			transition: fill 0.3s ease 0s;
		}

		&:hover {
			path {
				fill: $mainBlueColor;
			}
		}
	}
}

.footer {
	background-color: #547588;
	// .footer__wrapper
	&__wrapper {
		display: flex;
		// justify-content: space-between;
		align-items: center;
		padding: 15px 30px;
		@media (max-width: $tabletMedia) {
			flex-wrap: wrap;
			gap: 10px;
		}
	}
	// .footer__logo
	&__logo {
		flex: 1 1 33.33333%;
		& > .logo__wrapper {
			margin: 0;
			@media (max-width: $tabletMedia) {
				margin: 0 auto;
			}

			& .logo__top {
				text-align: left;
			}
		}
	}
	// .footer__info
	&__info {
		flex: 1 1 33.33333%;
		text-align: center;
		font-size: 18px;
		font-weight: 400;

		display: flex;
		flex-direction: column;
		gap: 5px;
		a {
			align-self: center;
		}
		// @media (max-width: $tabletMedia) {
		// 	flex: 1 1 50%;
		// }
		@media (max-width: 600px) {
			flex: 1 1 100%;
		}
	}
	// .footer__phone
	&__phone {
		color: inherit;
	}
	// .footer__copyright
	&__copyright {
	}
	// .footer__policy
	&__policy {
		color: #ff8562;
		font-weight: 600;
	}
	// .footer__icons
	&__icons {
		flex: 1 1 33.33333%;
		text-align: right;
		@media (max-width: $tabletMedia) {
			flex: 1 1 100%;
			text-align: center;
		}
	}
	// .footer__link
	&__link {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	// .footer__icon
	&__icon {
		width: 25px;
		height: 25px;
		path {
			transition: fill 0.3s ease 0s;
		}
		&:hover {
			path {
				fill: $mainBlueColor;
			}
		}
	}
}

//========================================================================================================================================================
.main {
	padding: 130px 0 30px;
	width: 100%;
	min-height: 100vh;
	// .main__rosa-khutor
	&__rosa-khutor {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("../img/rosa-khutor/bg.jpg") center / cover no-repeat;
	}
	&__golden-ring {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild6136-6633-4537-b632-373931303762/ozero-rica-abhaziya-.jpg") center / cover no-repeat;
	}
	&__gegsky {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild3035-6635-4930-b064-373562323330/84d9bf2160df7e59a2c2.jpg") center / cover no-repeat;
	}
	&__waterfalls {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild6230-3538-4165-b562-336661636433/spruce_flat_falls_gr.jpg") center / cover no-repeat;
	}

	&__observatory {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild6465-3166-4930-a633-386230666531/_14A9133.jpg") center / cover no-repeat;
	}

	&__hospitable {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("../img/Hospitable Abkhazia/bg.jpg") center / cover no-repeat;
	}

	&__ghost {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild6132-3364-4836-b936-656361363831/1428.jpg") center / cover no-repeat;
	}
	&__hot {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild6130-3361-4563-b661-333538613663/1622761024_38-pibig_.jpg") center / cover no-repeat;
	}
	&__psaho {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild3664-3936-4536-b135-383161363231/canyon-psakho-4.jpg") center / cover no-repeat;
	}
	&__solohaul {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild3835-6561-4632-b731-393133396264/5_2.jpg") center / cover no-repeat;
	}
	&__horse {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild6338-6263-4536-a638-353262616362/06bcd0dc7b561e1b46ba.jpg") center / cover no-repeat;
	}
	&__ATVs {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild6531-3661-4363-b465-386365336538/FSM_8823.jpg") center / cover no-repeat;
	}
	&__trip {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild6235-6664-4063-b065-393735353138/3149a1fb_692e_4ef9_b.jpg") center / cover no-repeat;
	}
	&__fishing {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild6533-3762-4663-b263-336262613230/pexels-william-mcall.jpg") center / cover no-repeat;
	}
	&__individual {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("https://static.tildacdn.com/tild3335-6161-4363-b033-346231636161/DSC02019-1.jpg") center / cover no-repeat;
	}
	&__balloon {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("../img/balloon flights/bg.jpg") center / cover no-repeat;
	}
	&__diving {
		background:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("../img/diving/bg.jpg") center / cover no-repeat;
	}

	// .main__container
	&__container {
	}

	// .main__text
	&__wrapper {
		max-width: 820px;
		margin: 0 auto;
	}
	// .main__text
	&__text {
		font-weight: 700;
		font-size: 60px;
		line-height: 93px;
		text-align: center;

		padding: 10px;
		background-color: rgba($color: $blackColor, $alpha: 0.6);
		margin-bottom: 50px;

		@media (max-width: $laptopMedia) {
			font-size: 46px;
			line-height: 60px;
		}
		@media (max-width: $tabletMedia) {
			font-size: 36px;
			line-height: 40px;
		}
	}
	// .main__items
	&__items {
		display: flex;
		text-align: center;
		gap: 20px;
		background-color: rgba($color: $blackColor, $alpha: 0.6);
		padding: 70px 15px 30px;

		@media (max-width: $tabletMedia) {
			flex-direction: column;
			padding: 20px 15px;
		}
	}
	// .main__item
	&__item {
		flex: 0 1 33.333%;
		display: flex;
		flex-direction: column;
	}
	// .main__title
	&__title {
		flex: 1;
		font-weight: 700;
		font-size: 44px;
		line-height: 48px;
		margin-bottom: 40px;
		span {
			display: block;
			font-size: 24px;
			@media (max-width: $tabletMedia) {
				display: inline;
			}
		}

		@media (max-width: $laptopMedia) {
			// font-size: 46px;
			// line-height: 60px;
			font-size: 30px;
			line-height: 34px;
		}
		@media (max-width: $tabletMedia) {
			font-size: 26px;
			line-height: 30px;
			margin-bottom: 10px;
		}
	}
	// .main__subtitle
	&__subtitle {
		display: flex;
		flex-direction: column;
		gap: 20px;

		font-weight: 400;
		font-size: 24px;
		line-height: 37px;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background-color: $mainColor;
		}
		@media (max-width: $tabletMedia) {
			font-size: 20px;
			line-height: 30px;
			gap: 10px;
			margin-bottom: 20px;
		}
	}
}

.info {
	background-color: #efefef;
	padding: 40px 0;
	// .info__container
	&__container {
	}
	// .info__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 70px;
	}
	// .info__text
	&__text {
		font-size: 24px;
		font-weight: 300;
		line-height: 36px;
		text-align: center;
		color: $blackColor;

		max-width: 630px;
		margin: 0 auto;

		@media (max-width: $tabletMedia) {
			font-size: 20px;
			line-height: 32px;
		}
		@media (max-width: $mobileMedia) {
			font-size: 18px;
			line-height: 26px;
		}
	}
	// .info__bottom
	&__bottom {
		align-self: center;
		display: flex;
		align-items: center;
		gap: 20px;
		transform: translateX(-30px);
	}
	// .info__icon
	&__icon {
		width: 45px;
		height: 100px;
		path {
			fill: #c9c9c9;
		}
	}
	// .info__button
	&__button {
		color: #ffffff;
		outline: 4px solid $secondaryBlueColor;
		background-color: $secondaryBlueColor;
		padding: 18px 38px;

		font-weight: 700;
		font-size: 16px;

		transition: outline 0.3s ease 0s;

		&:hover {
			outline: 4px solid transparent;
		}

		@media (max-width: $tabletMedia) {
			padding: 15px 30px;
		}
		@media (max-width: $mobileMedia) {
			padding: 13px 28px;
		}
	}
}

.route {
	padding: 30px 0 40px;

	color: $blackColor;
	// .route__container
	&__container {
	}
	// .route__text
	&__text {
		font-size: 42px;
		font-weight: 600;
		line-height: 52px;
		text-align: center;

		margin-bottom: 100px;
		@media (max-width: $tabletMedia) {
			font-size: 26px;
			line-height: 36px;
			margin-bottom: 50px;
		}
	}
	// .route__items
	&__items {
	}
	// .route__item
	&__item {
		width: 52.2%;
		position: relative;

		display: flex;

		@media (max-width: $laptopMedia) {
			width: 100%;
			justify-content: flex-end;
			gap: 20px;
		}
		@media (max-width: $mobileMedia) {
			width: 100%;
			justify-content: flex-end;
			gap: 10px;
		}

		&.left {
			justify-content: flex-end;

			padding-right: 55px;
			@media (max-width: $laptopMedia) {
				padding: 0;
			}
		}
		&.right {
			margin: 0 0 0 auto;
			padding-left: 55px;
			@media (max-width: $laptopMedia) {
				padding: 0;
			}
		}
		// .route__item-text
		&-text {
			max-width: 330px;
			padding-bottom: 30px;

			@media (max-width: $laptopMedia) {
				max-width: 100%;
			}
		}
	}
	// .route__title
	&__title {
		font-weight: 600;
		font-size: 26px;
		line-height: 35px;
		text-align: center;
		margin-bottom: 10px;
		@media (max-width: $tabletMedia) {
			font-size: 20px;
			line-height: 25px;
		}
	}
	// .route__subtitle
	&__subtitle {
		font-weight: 300;
		font-size: 20px;
		line-height: 29px;
		text-align: center;
		@media (max-width: $tabletMedia) {
			font-size: 16px;
			line-height: 25px;
		}
	}
	// .route__inner
	&__inner {
		@media (max-width: $laptopMedia) {
			position: relative;
		}
	}
	// .route__circle
	&__circle {
		position: absolute;
		top: 0;
		z-index: 10;

		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $blackColor;
		z-index: 1;

		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 24px;
		line-height: 1.2;
		color: $mainColor;
		@media (max-width: $laptopMedia) {
			position: relative;
			right: auto;
			left: auto !important;
			width: 40px;
			height: 40px;
			font-size: 20px;
		}

		&.left {
			right: 0;
		}
		&.right {
			left: 0;
			@media (max-width: 1040px) {
				left: -5px;
			}
		}
	}
	// .route__line
	&__line {
		position: absolute;
		top: 0;

		width: 2px;
		height: 100%;
		background-color: $blackColor;
		&.left {
			right: 25px;
			@media (max-width: 1170px) {
				right: 24px;
			}
			@media (max-width: 1150px) {
				right: 23px;
			}
			@media (max-width: 1140px) {
				right: 22px;
			}
			@media (max-width: 1040px) {
				right: 24px;
			}
			@media (max-width: $laptopMedia) {
				top: 0;
				right: auto;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&.right {
			left: 25px;
			@media (max-width: 1170px) {
				left: 24px;
			}
			@media (max-width: 1150px) {
				left: 23px;
			}
			@media (max-width: 1140px) {
				left: 22px;
			}
			@media (max-width: 1040px) {
				left: 19px;
			}
			@media (max-width: $laptopMedia) {
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.photo {
	background-color: #d6d6d6;
	// .photo__container
	&__container {
		@media (max-width: $mobileMedia) {
			padding: 0;
		}
	}
	// .photo__slider
	&__slider {
		margin: 0 auto;
		max-width: 560px;
	}
	// .photo__wrapper
	&__wrapper {
	}
	// .photo__slide
	&__slide {
		@media (max-width: $mobileMedia) {
			height: 300px;
		}
		img {
			max-width: 100%;
			width: 100%;
			height: 420px;
			// height: 100%;
			object-fit: cover;
		}
	}
	// .photo__navigation
	&__navigation {
		& > div {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: #cca300;
			&::after {
				font-size: 20px;
				color: $mainColor;
			}
			@media (max-width: $mobileMedia) {
				width: 40px;
				height: 40px;
			}
		}
		& > .swiper-button-disabled {
			display: none;
		}
	}
	// .photo__pagination
	&__pagination {
		& > .swiper-pagination-bullet-active {
			background-color: #cca300;
		}
	}
}

.price {
	padding: 30px 0 50px;
	color: $blackColor;
	// .price__container
	&__container {
	}
	// .price__text
	&__text {
		font-weight: 600;
		font-size: 40px;
		line-height: 36px;
		text-align: center;
		margin-bottom: 80px;

		@media (max-width: $tabletMedia) {
			font-size: 26px;
			line-height: 30px;
			margin-bottom: 50px;
		}
	}
	// .price__items
	&__items {
		display: flex;
		flex-direction: column;
		gap: 15px;

		margin-bottom: 30px;
	}
	// .price__item
	&__item {
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;

		// display: flex;
		// align-items: center;
		// gap: 5px;

		position: relative;

		padding-left: 13px;

		&::before {
			content: "";
			display: block;
			width: 8px;
			height: 8px;
			background-color: $blackColor;
			border-radius: 50%;

			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0px, -50%);
		}

		&.title {
			font-weight: 700;
			padding-left: 10px;
			&::before {
				display: none;
			}
		}
	}
	// .price__button
	&__button {
		font-weight: 700;
		font-size: 22px;
		color: $mainColor;
		background-color: $secondaryBlueColor;
		padding: 17px 70px;
		display: block;
		margin: 0 auto;
		outline: 4px solid $secondaryBlueColor;

		transition: outline 0.3s ease 0s;

		@media (max-width: $tabletMedia) {
			padding: 15px 40px;
		}
		@media (max-width: $mobileMedia) {
			padding: 10px 30px;
		}

		&:hover {
			outline: 4px solid transparent;
		}
	}
}

.author {
	display: block;
	padding: 10px;
	color: $mainColor;
	background-color: red;
	text-align: center;
	font-size: 28px;
}
